{% extends "template.twig" %}

{% block head %}
    <title>Adicionar cliente | {{ app_name }}</title>
    {{ parent() }}
{% endblock %}

{% block content %}


    <div class="main-content">
        <div class="row">
            <div class="col-12">
                <form class="card" method="post" action="secure/api/users">
                    <h4 class="card-title"><strong>Novo cliente</strong></h4>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">

                                <h6 class="text-uppercase mt-3">Informação do noivo</h6>
                                <hr class="hr-sm mb-2">

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="groomFirstName" class="text-fader">Nome</label>
                                        <input class="form-control" type="text" name="groomFirstName" id="groomFirstName">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="groomLastName" class="text-fader">Último nome</label>
                                        <input class="form-control" type="text" name="groomLastName" id="groomLastName">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="groomBirthdate" class="text-fader">Data nascimento</label>
                                        <input class="form-control" type="text" name="groomBirthdate" id="groomBirthdate"  data-provide="datepicker" data-date-today-highlight="true">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="groomEmail" class="text-fader">Email</label>
                                        <input class="form-control" type="email" name="groomEmail" id="groomEmail">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="groomPhone" class="text-fader">Telemóvel</label>
                                        <input class="form-control" type="tel" name="groomPhone" id="groomPhone">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="groomAddress" class="text-fader">Morada</label>
                                        <input class="form-control" type="text" name="groomAddress" id="groomAddress">
                                    </div>
                                </div>

                                <h6 class="text-uppercase mt-3">Informação noiva</h6>
                                <hr class="hr-sm mb-2">

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="brideFirstName" class="text-fader">Nome</label>
                                        <input class="form-control" type="text" name="brideFirstName" id="brideFirstName">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="brideLastName" class="text-fader">Último nome</label>
                                        <input class="form-control" type="text" name="brideLastName" id="brideLastName">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="brideBirthdate" class="text-fader">Data nascimento</label>
                                        <input class="form-control" type="text" name="brideBirthdate" id="brideBirthdate"  data-provide="datepicker" data-date-today-highlight="true">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="brideEmail" class="text-fader">Email</label>
                                        <input class="form-control" type="email" name="brideEmail" id="brideEmail">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="bridePhone" class="text-fader">Telemóvel</label>
                                        <input class="form-control" type="tel" name="bridePhone" id="bridePhone">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="brideAddress" class="text-fader">Morada</label>
                                        <input class="form-control" type="text" name="brideAddress" id="brideAddress">
                                    </div>
                                </div>

                                <h6 class="text-uppercase mt-3">Informação do Evento</h6>
                                <hr class="hr-sm mb-2">

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="eventType" class="text-fader">Tipo de evento</label>
                                          <select class="form-control" data-provide="selectpicker" id="eventType" name="eventType">
                                            <option selected>Selecione uma opção</option>
                                            <option>Casamento</option>
                                            <option>Batizado</option>
                                            <option>Comunhão</option>
                                            <option>Festa Corporativa</option>
                                            <option>Festa Privativa</option>
                                            <option>Aniversário</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="civilOrChurch" class="text-fader">Civil ou religioso</label>
                                        <select class="form-control" data-provide="selectpicker" id="civilOrChurch" name="civilOrChurch">
                                            <option selected>Selecione uma opção</option>
                                            <option>Civil</option>
                                            <option>Religioso</option>
                                          </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="dateOfEvent" class="text-fader">Data do evento</label>
                                        <input class="form-control" type="text" name="dateOfEvent" id="dateOfEvent"  data-provide="datepicker" data-date-today-highlight="true">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="alternativeDates" class="text-fader">Data(s) alternativa(s)</label>
                                        <input class="form-control" type="text" name="alternativeDates" id="alternativeDates">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="closeDate" class="text-fader">Data Fecho</label>
                                        <input class="form-control" type="text" name="closeDate" id="closeDate"  data-provide="datepicker" data-date-today-highlight="true">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="tastingDate" class="text-fader">Data Degustação</label>
                                        <input class="form-control" type="text" name="tastingDate" id="tastingDate"  data-provide="datepicker" data-date-today-highlight="true">
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="alternativeDates" class="text-fader">Valor do Sinal</label>
                                        <input class="form-control" type="text" name="alternativeDates" id="alternativeDates">
                                    </div>
                                </div>

                                <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
                                <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <button class="btn btn-block btn-danger" id="clear"
                                        type="reset">Limpar Formulário</button>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <button class="btn btn-block btn-primary" id="save"
                                                type="submit" disabled>Save Changes</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>

{% endblock %}
{% block script %}
    <script src="{{ base_path() }}/assets/js/admin/add-user.min.js"></script>
{% endblock %}