{% extends "template.twig" %}

{% block head %}
    <title>Adicionar cliente | {{ app_name }}</title>
    {{ parent() }}
{% endblock %}

{% block content %}


    <div class="main-content">
        <div class="row">
            <div class="col-12">
                <form class="card" method="post" action="secure/api/clients/add">
                    <h4 class="card-title"><strong>Novo cliente</strong></h4>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">

                                <h6 class="text-uppercase mt-3">Informação do noivo</h6>
                                <hr class="hr-sm mb-2">

                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="groomName" class="text-fader required">Nome</label>
                                        <input class="form-control required" type="text" name="groomName" id="groomName">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="groomBirthDate" class="text-fader required">Data nascimento</label>
                                        <input class="form-control required" type="text" name="groomBirthDate" id="groomBirthDate"  data-provide="datepicker" data-date-today-highlight="true">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="groomEmail" class="text-fader required">Email</label>
                                        <input class="form-control required" type="email" name="groomEmail" id="groomEmail">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="groomPhone" class="text-fader required">Telemóvel</label>
                                        <input class="form-control required" type="tel" name="groomPhone" id="groomPhone">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="groomAddress" class="text-fader required">Morada</label>
                                        <input class="form-control required" type="text" name="groomAddress" id="groomAddress">
                                    </div>
                                </div>

                                <h6 class="text-uppercase mt-3">Informação noiva</h6>
                                <hr class="hr-sm mb-2">

                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="brideName" class="text-fader required">Nome</label>
                                        <input class="form-control required" type="text" name="brideName" id="brideName">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="brideBirthDate" class="text-fader required">Data nascimento</label>
                                        <input class="form-control required" type="text" name="brideBirthDate" id="brideBirthDate"  data-provide="datepicker" data-date-today-highlight="true">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="brideEmail" class="text-fader required">Email</label>
                                        <input class="form-control required" type="email" name="brideEmail" id="brideEmail">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="bridePhone" class="text-fade required">Telemóvel</label>
                                        <input class="form-control required" type="tel" name="bridePhone" id="bridePhone">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="brideAddress" class="text-fader">Morada</label>
                                        <input class="form-control" type="text" name="brideAddress" id="brideAddress">
                                    </div>
                                </div>

                                <h6 class="text-uppercase mt-3">Informação do Evento</h6>
                                <hr class="hr-sm mb-2">

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="typeOfEvent" class="text-fader required">Tipo de evento</label>
                                          <select class="form-control required" data-provide="selectpicker" id="typeOfEvent" name="typeOfEvent">
                                            <option value="0" "selected>Selecione uma opção</option>
                                            <option value="1">Casamento</option>
                                            <option value="2">Batizado</option>
                                            <option value="3">Comunhão</option>
                                            <option value="4">Festa Corporativa</option>
                                            <option value="5">Festa Privativa</option>
                                            <option value="6">Aniversário</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="civilOrChurch" class="text-fader">Civil ou religioso</label>
                                        <select class="form-control" data-provide="selectpicker" id="civilOrChurch" name="civilOrChurch">
                                            <option value="0" "selected>Selecione uma opção</option>
                                            <option value="1">Civil</option>
                                            <option value="2">Religioso</option>
                                          </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="eventDate" class="text-fader required">Data do evento</label>
                                        <input class="form-control required" type="text" name="eventDate" id="eventDate"  data-provide="datepicker" data-date-today-highlight="true">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="alternativeDates" class="text-fader">Data(s) alternativa(s)</label>
                                        <input class="form-control" type="text" name="alternativeDates" id="alternativeDates">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="closedDate" class="text-fader">Data Fecho</label>
                                        <input class="form-control" type="text" name="closedDate" id="closedDate"  data-provide="datepicker" data-date-today-highlight="true">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="tastingDate" class="text-fader">Data Degustação</label>
                                        <input class="form-control" type="text" name="tastingDate" id="tastingDate"  data-provide="datepicker" data-date-today-highlight="true">
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="signalAmmount" class="text-fader">Valor do Sinal</label>
                                        <input class="form-control" type="text" name="signalAmmount" id="signalAmmount">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="nif" class="text-fader">N.I.F.</label>
                                        <input class="form-control" type="text" name="nif" id="nif">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-3">
                                        <div class="custom-control custom-control-lg custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="lights" name="lights">
                                            <label class="custom-control-label" for="lights">Luzes</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <div class="custom-control custom-control-lg custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="rooms" name="rooms">
                                            <label class="custom-control-label" for="rooms">Quartos</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <div class="custom-control custom-control-lg custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="menu" name="menu">
                                            <label class="custom-control-label" for="menu">Ementa</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <div class="custom-control custom-control-lg custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="fireworks" name="fireworks">
                                            <label class="custom-control-label" for="menu">Fogo</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="observations" class="text-fader">Observações</label>
                                        <textarea id="observations" name="observations" data-provide="summernote" data-min-height="150"></textarea>
                                    </div>
                                </div>

                                <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
                                <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <button class="btn btn-block btn-danger" id="clear"
                                        type="reset">Limpar Formulário</button>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <button class="btn btn-block btn-primary" id="save"
                                                type="submit" disabled>Gaurdar alterações</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>

{% endblock %}
{% block script %}

    <script>
        $(document).ready(function() {
            // Function to check if all required fields are filled
            function validateForm() {
                var isValid = true;
                $(".required").each(function() {
                    if (!$(this).is("label") && !$(this).is("div"))
                    {
                        if ( $( this ).val().trim() === "" )
                        {
                            isValid = false;
                            console.log( this );
                            console.log( $( this ).val() );
                            return false; // Exit the loop early if any field is empty
                        }
                    }
                });
                return isValid;
            }

            // Attach an event handler to the input elements with class "required" to check validity when losing focus
            $(".required").on("blur", function() {
                if (!validateForm()) {
                    $("#save").prop("disabled", true);
                } else {
                    $("#save").prop("disabled", false);
                }
            });

            // Prevent the form from submitting if not valid
            $("form").submit(function(event) {
                if (!validateForm()) {
                    event.preventDefault();
                    alert("Deve preencher todos os campos obrigatorios.");
                }
            });
        });
    </script>
{% endblock %}