{% extends "template.twig" %}

{% block head %}
    <title>Adicionar cliente | {{ app_name }}</title>
    {{ parent() }}
{% endblock %}

{% block content %}


    <div class="main-content">
        <div class="row">
            <div class="col-12">
                <form class="card" method="post" action="app/clients/edit/{{ client.id }}">
                    <input type="hidden" name="id" value="{{ client.id }}">
                    <h4 class="card-title"><strong>Editar cliente #{{ client.id }}</strong></h4>

                    {% include 'pages/clients/form.body.twig' %}

                </form>
            </div>

        </div>
    </div>

{% endblock %}
{% block script %}

    <script>
        $(document).ready(function() {
            // Function to check if all required fields are filled
            function validateForm() {
                var isValid = true;
                $(".required").each(function() {
                    if (!$(this).is("label") && !$(this).is("div"))
                    {
                        if ( $( this ).val().trim() === "" )
                        {
                            isValid = false;
                            console.log( this );
                            console.log( $( this ).val() );
                            return false; // Exit the loop early if any field is empty
                        }
                    }
                });
                return isValid;
            }

            // Attach an event handler to the input elements with class "required" to check validity when losing focus
            $(".required").on("blur", function() {
                if (!validateForm()) {
                    $("#save").prop("disabled", true);
                } else {
                    $("#save").prop("disabled", false);
                }
            });

            // Prevent the form from submitting if not valid
            $("form").submit(function(event) {
                if (!validateForm()) {
                    event.preventDefault();
                    alert("Deve preencher todos os campos obrigatorios.");
                }
            });
        });
    </script>
{% endblock %}