<!-- Footer -->
<footer class="site-footer">
	<div class="row">
		<div class="col-md-6">
			<p class="text-center text-md-left">Copyright © {{ 'now' | date('Y') }} <a href="{{ project_owner_url }}">{{ project_owner_name }}</a>. All rights reserved - {{ app_version  }}</p>
		</div>
		<div class="col-md-6">
			<p class="text-center text-md-right">Versão: {{ app_version  }} - {{  date_version }}</p>
		</div>
	</div>
</footer>
<!-- END Footer -->